<%= link_to project[:title], project%><br />
<%= project.goal %><br />
<span>Start Date:<%= project.start_date %></span><br />
<span>End Date:<%= project.end_date %></span><br />
<span>Description:<%= project.description %></span><br />